<!DOCTYPE html>
<html>
  <head>
    <title>HelloStocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.hellostockslogo = '<%= image_url('hellostockslogo.png') %>'
      window.landing_page_header_vid = '<%= video_url('landing_page_header_vid.mp4') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
