<!DOCTYPE html>
<html>
  <head>
    <title>HelloStocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.hellostockslogo = '<%= image_url('landing_page/hellostockslogo.png') %>'
      window.landing_page_header = '<%= image_url('landing_page/header.gif') %>'
      window.login_image = '<%= image_url('session/login_image.jpg') %>'
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <body>
    <%= yield %>
  </body>
</html>
