<!DOCTYPE html>
<html>
  <head>
    <title>HelloStocks</title>
    <link rel="icon" href=images/favicon.ico>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      window.hellostockslogo = '<%= image_url('landing_page/hellostockslogo.png') %>'
      window.landing_page_header_vid = '<%= image_url('landing_page/landing_page_header_vid.mp4') %>'
      window.landing_page_header_img = '<%= image_url('landing_page/landing_page_header_img.png') %>'
      window.third_section_vid = '<%= image_url('landing_page/third_section_vid.mp4') %>'
      window.login_image = '<%= image_url('session/login_image.jpg') %>'
      window.search_icon = '<%= image_url('dashboard/search-icon.png') %>'
      window.linkedin = '<%= image_url('dashboard/linkedin.png') %>'
      window.github = '<%= image_url('dashboard/github.png') %>'
      window.personal = '<%= image_url('dashboard/personal-site.png') %>'
      window.logout = '<%= image_url('dashboard/logout-icon.png') %>'
      window.stonks = '<%= image_url('dashboard/stonks.jpg') %>'
      window.elon_doge = '<%= image_url('dashboard/elon-doge.jpg') %>'
    </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <body>
    <%= yield %>
  </body>
</html>
